@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-host-grotesk);
  --font-mono: var(--font-host-grotesk);

  /* Custom Breakpoints */
  --breakpoint-md: 1024px;
  --breakpoint-lg: 1440px;
  --breakpoint-lg2: 1515px;
  --breakpoint-xl: 1760px;
  --font-host: var(--font-host-grotesk);
  --font-serif: var(--font-host-grotesk);

  /* Custom Animations */
  --animate-scroll-left: scroll-left 30s linear infinite;
  --animate-scroll-right: scroll-right 30s linear infinite;

  @keyframes scroll-left {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

  @keyframes scroll-right {
    from {
      transform: translateX(-50%);
    }

    to {
      transform: translateX(0);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-host), ui-sans-serif, system-ui;
}